:root {
    --lightBlue: rgb(230 230 240); 
}

body {
    text-align: center;
    background-color: var(--lightBlue);
    color: rgb(30 30 150);
    font-size: 3vw;
}
main {
    max-width: 950px;
    margin: auto;
}
.projects-title {
    background-color: rgb(10 10 100);
    margin-bottom: 3vw;
    padding: 2vw;
}

.projects-title>h2, 
.projects-title>h3 {
    margin: 0;
}

.projects {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    background-color: rgb(100 100 200);  
    color: var(--lightBlue);
    margin-bottom: 3vw;
}

.project {
    padding: 5vw;
    width: 80%;
    margin: auto;
    border-bottom: 1px rgba(10, 10, 100, .5) solid;
    font-size: 3.5vw;
    text-align: center;
}

.project>div {
    padding: 1.5vw;
}

a {
    color: var(--lightBlue);
}  

.half-line {
    width: 50%;
}

.project-date {
    font-size: 2vw;
}

.contacts {
    margin-bottom: 5vw;
    text-align: left;
    border-radius: 20px;
    color: var(--lightBlue);
    background-color: rgb(10 10 100);
}

.contacts legend {
    font-size: 3vw;
    background-color: rgb(10 10 100);
    padding: 1.5vw 3vw;
    border-radius: 20px;
}

.sum-finder-image, .tic-tac-toe-image, .weather-forecast {
    height: 25vw;
    width: 12vw;
    padding: 2vw;
}

.connect-four-image {
    width: 18vw;
    height: 15vw;
    padding: 3vw;
}

@media (min-width:600px) {
    h1, h2 {
        margin: 1vw;
    }

    body {
        font-size: 2.5vw;
    }

    .project {
        font-size: 3vw;
        padding: 1vw;
    }

    .project>div {
        padding: 0.5vw;
    }

    .sum-finder-image {
        padding: 0.5vw;
    }

    .contacts {
        margin-bottom: 1vw;
    }
}

@media (min-width:800px) {
    h1, h2 {
        margin: 1vw;
    }

    body {
        font-size: 1.7vw;
    }
}